:root {
    --primary-font: 'Kumbh Sans', sans-serif;
    --background-color: #17162E;
    --primary-color: #fff;
    --secundary-color: #ACACAC
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

h1 {
    text-align: center;
    color: var(--primary-color);
    font-size: 2rem;
    font-family: var(--primary-font);
    margin: 2rem 0;
}

/* Busca */
.search {
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    width: 50%;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.search input {
    width: 100%;
    height: 100%;
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.5rem;
}

.search img {
    cursor: pointer;
}

.hidden {
    display: none;
}

/* Favoritos */
.favorites {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 1.5rem;
}

.favorites-text {
    color: var(--primary-color);
    font-family: var(--primary-font);
}

/* Filme */
.movie {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 8rem;
    padding: 1rem;
    background-color: #1D1C3B;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}

.movie-information {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.movie .movie-image {
    width: 10rem;
    height: 10rem;
    margin: 1rem;
}

.movie .movie-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.movie-information .movie-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.movie-information .movie-text h2 {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 1rem;
}

.movie-icons {
    display: flex;
    gap: 2rem;
    padding: 0 1rem;
}

.movie-icons .icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.movie-icons .icon img {
    width: 1.25rem;
    height: 1.25rem;
}

.movie-icons .icon span {
    color: var(--primary-color);
    font-family: var(--primary-font);

}

.movie-description {
    color: var(--secundary-color);
    text-align: left;
    font-family: var(--primary-font);
    font-size: 1rem;
    line-height: 1.5;
    padding: 0 2rem;
}
